attrs==25.3.0
boto3==1.40.34
botocore==1.40.34
cattrs==25.2.0
constructs==10.4.2
importlib_resources==6.5.2
jmespath==1.0.1
jsii==1.114.1
publication==0.0.3
python-dateutil==2.9.0.post0
s3transfer==0.14.0
six==1.17.0
typeguard==2.13.3
typing_extensions==4.15.0
urllib3==2.5.0
